.total{
    background-color: whitesmoke
}

#profile{
    margin-left: 950px;
}

.image{
    margin-top: 50px;
    margin-left: 400px;
    height: 56vh;
}

#layout{
    margin-top: 20px;
    color: lightcoral;
    text-align: center;
}

.content-section {
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
    width: 40%;
    background-color: lightblue;
  }

#photo{
   position: relative;
   left:20%;

}

.media-body{
    padding-top: 4%;
}

#table{

    margin-top: 20px;
    right: 20px;
    background-color: rgb(233, 223, 223);
    width: 95%;
    margin-left: 35px;
}


#heading{
    margin-top: 30px;
}

.container{
background-color: rgb(1, 1, 47);
max-width: 500px;;
margin-top: 30px;

}
.control-label{
    color: aliceblue;

}
.help-block,ul{
    color: rgb(244, 171, 63)
}

ul{
   list-style:none ;
}
